.feed-container{
    width: 80%;
    height: 90vh;
    scroll-behavior: smooth;
    margin-left: 10%;
    background-color: rgba(38, 50, 56, 0.8);
    padding-top:20px;
    overflow: scroll;
}

.feed-container::-webkit-scrollbar{
    display: none;
}